div {
    width: 110px;
    height: 110px;
    display: inline-block;
}

.container1 {
    background:saddlebrown;
    color: white;
}

.container2 {
background: yellowgreen;
color: white;
}

.container3 {
    background:darkgray;
    color: white;
}

